<div class="form-list">
  <form [formGroup]="formGroup" class="form-list-form" (ngSubmit)="submit()">

    <!-- personalInfoForm -->
    <div formGroupName="personalInfoForm" class="form-list-subList">
      <mat-form-field>
        <input
          formControlName="firstname"
          matInput
          type="text"
          name="firstname"
          placeholder="First name"
          required
        >
        <mat-error
          [inputControl]="personalInfoForm.get('firstname')"
          [errorMessages]="{
            'required': 'this control is required',
            'pattern': 'Invalid name. Name can only contain: a-z, A-Z, 0-9, `'
          }"
          error-filed
        ></mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          formControlName="lastname"
          matInput
          type="text"
          name="lastname"
          placeholder="Last name"
          required
        >
        <mat-error
          [inputControl]="personalInfoForm.get('lastname')"
          [errorMessages]="{
            'required': 'this control is required',
            'pattern': 'Invalid name. Name can only contain: a-z, A-Z, 0-9, `'
          }"
          error-filed
        ></mat-error>
      </mat-form-field>
  
      <!-- <mat-form-field> -->
        <!-- <input
          formControlName="phone"
          [textMask]="{mask: phoneMask}"
          matInput
          type="text"
          name="phone"
          placeholder="Phone"
          required
        > -->
        <!-- </mat-form-field> -->
      <app-phone-input formControlName="phone"></app-phone-input>
      <mat-error
        [inputControl]="personalInfoForm.get('phone')"
        [errorMessages]="{
          'required': 'this control is required',
          'phonePattern': 'Invalid phone.'
        }"
        error-filed
      ></mat-error>
  
      <mat-form-field>
        <input
          formControlName="email"
          matInput
          type="email"
          name="email"
          placeholder="Email"
          required
        >
        <mat-error
          [inputControl]="personalInfoForm.get('email')"
          [errorMessages]="{
            'required': 'this control is required',
            'pattern': 'Invalid email address',
            'domainAvailable': 'This domain of email is invalid'
          }"
          error-filed
        ></mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <input
          formControlName="birthday"
          [matDatepicker]="picker"
          matInput
          name="birthday"
          placeholder="Birthday"
          required
        >
        <mat-error
          [inputControl]="personalInfoForm.get('birthday')"
          [errorMessages]="{
            'required': 'this control is required',
            'pattern': 'Invalid birthday'
          }"
          error-filed
        ></mat-error>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <!-- personalInfoForm END -->

    <!-- addressInfoForm -->
    <div formGroupName="addressInfoForm" class="form-list-subList">
      <mat-form-field>
        <mat-label>State</mat-label>
        <mat-select
          formControlName="state"
          (selectionChange)="onChangeSelect($event?.value)"
          required>
          <mat-option *ngFor="let state of states; trackBy: trackByFn" [value]="state.name">
            {{ state.name }}
          </mat-option>
        </mat-select>
        <mat-error
          [inputControl]="addressInfoForm.get('state')"
          [errorMessages]="{
            'required': 'this control is required',
            'pattern': 'Invalid state'
          }"
          error-filed></mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="text"
          name="stateshort"
          placeholder="State abbreviation"
          disabled
          [value]="addressInfoForm.get('stateshort').value"
          required>
        <mat-error
          [inputControl]="addressInfoForm.get('stateshort')"
          [errorMessages]="{
            'required': 'this control is required',
            'pattern': 'Invalid state abbr. State abbr. template - AA'
          }"
          error-filed></mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          formControlName="city"
          matInput
          type="text"
          name="city"
          placeholder="City"
          required>
        <mat-error
          [inputControl]="addressInfoForm.get('city')"
          [errorMessages]="{
            'required': 'this control is required',
            'pattern': 'Invalid city'
          }"
          error-filed></mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          formControlName="street"
          matInput
          type="text"
          name="street"
          placeholder="Street"
          required>
        <mat-error
          [inputControl]="addressInfoForm.get('street')"
          [errorMessages]="{
            'required': 'this control is required',
            'pattern': 'Invalid street'
          }"
          error-filed></mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          formControlName="zipcode"
          [textMask]="{mask: zipcodeMask}"
          matInput
          type="text"
          name="zipcode"
          placeholder="Zipcode"
          required>
        <mat-error
          error-filed
          [inputControl]="addressInfoForm.get('zipcode')"
          [errorMessages]="{
            'required': 'this control is required',
            'pattern': 'Invalid zip code. Zip code template: 000-000'
          }"></mat-error>
      </mat-form-field>
    </div>
    <!-- addressInfoForm END -->

    <!-- additionalInfoForm -->
    <div formGroupName="additionalInfoForm" class="form-list-subList">
      <file-upload
        formControlName="avatar"
        [animation]="true"
        type="file"
        name="avatar"></file-upload>
      <mat-error
        error-filed
        [inputControl]="additionalInfoForm.get('avatar')"
        [errorMessages]="{
          'required': 'this control is required'
        }"></mat-error>
    </div>
    <!-- additionalInfoForm END -->


    <div class="form-list-actions">
      <a
        mat-raised-button
        [routerLink]="['/']"
        routerLinkActive="router-link-active"
        class="form-list-link">Go to table</a> 
      <button mat-raised-button (click)="formGroup.reset()" type="button">Clear</button>
      <button mat-raised-button [color]="submitColor" type="submit" class="form-list-submit">
        <span *ngIf="isPending">
          <mat-spinner diameter="18" class="form-list-pending"></mat-spinner>
        </span>
        <span *ngIf="!isPending">
          Save
        </span>
      </button>
    </div>
  </form>
</div>