.phone-input {
  &-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &-select {
    margin-right: 1.5rem;
  }
  &-callingCode {
    width: 2.7rem;
    margin-right: .7rem;
  }
}