<div class="users-table">

  <mat-toolbar class="users-table-title">
    <span>Table of users</span>
  </mat-toolbar>

  <mat-form-field class="users-table-filter">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <table mat-table [dataSource]="users" class="mat-elevation-z8" class="users-table-table">

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef> First name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
    </ng-container>
  
    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef> Last name </th>
      <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
    </ng-container>
    
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Phone </th>
      <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="adressStateName">
      <th mat-header-cell *matHeaderCellDef> State </th>
      <td mat-cell *matCellDef="let element"> {{element.adress.state.name}} </td>
    </ng-container>

    <ng-container matColumnDef="adressCity">
      <th mat-header-cell *matHeaderCellDef> City </th>
      <td mat-cell *matCellDef="let element"> {{element.adress.city}} </td>
    </ng-container>

    <ng-container matColumnDef="adressStreet">
      <th mat-header-cell *matHeaderCellDef> Street </th>
      <td mat-cell *matCellDef="let element"> {{element.adress.street}} </td>
    </ng-container>

    <ng-container matColumnDef="adressZipcode">
      <th mat-header-cell *matHeaderCellDef> Zipcode </th>
      <td mat-cell *matCellDef="let element"> {{element.adress.zipcode}} </td>
    </ng-container>

    <ng-container matColumnDef="avatar">
      <th mat-header-cell *matHeaderCellDef> Avatar </th>
      <td mat-cell *matCellDef="let element">
        <img [src]="element.avatar" [alt]="element.firstname" class="user-table-img">
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="users-table-pagination"></mat-paginator>

  <a [routerLink]="['/routePath']" routerLinkActive="router-link-active" class="users-table-add">Добавить пользователя</a>
  
</div>