.table-filter {
  display: flex;
  flex-direction: column;
  width: 50%;
  &-field, &-dates {
    width: 100%;
  }
  &-dates {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-date {
    width: 45%;
  }
}